.wrapper{
 display: grid;
 grid-template-columns: 200px 200px 200px;
}
* {
 box-sizing: border-box;
}
.wrapper{
 border: 2px solid #ffa94d;
 border-radius: 5px;
 background-color: aliceblue;
}
.wrapper > div{
 border: 2px solid #ffa94d;
 border radius: 5px;
 
}